body {
  margin:0;
  padding:0;
  background-color:#eee;
  box-sizing: border-box;
}


section {
  margin:4vh auto;
  width: 300px;
  padding:1em;
}
.view input{
  width:85%;
  padding:0.5em;
  margin-bottom:0.5em;
}
.buttons button{
   padding:1em;
   width:20%;
   margin:0.2em;
}
[data-js="remove"] {
  padding:0.5em;
  width:20%;
  margin-bottom:0.5em
}

.modal {    
  display: block; 
  position: absolute;
  top: 10%;
  left: 35%;   
  z-index: 1; 
  margin: auto;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
}
.modal h1 {
  text-align: center;
}