body {
  margin:0;
  padding:0;
  background-color:#eee;
  box-sizing: border-box;
}
section {
  margin:4vh auto;
  width: 300px;
  padding:1em;
}
.view input{
  width:100%;
  padding:0.5em;
  margin-bottom:0.5em;
}
.buttons button{
   padding:1em;
   width:20%;
   margin:0.2em;
}
